@model IEnumerable<milkrate.Models.UserPiece>


@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@if (!SignInManager.IsSignedIn(User))
{
    <body style="
             background-image: url(/images/supreme_sweats_tees_1.png);
             background-size: cover;
             background-repeat: no-repeat;">
    </body>
    <div class="text-center" style="margin-top: 10rem;">
        <img style="max-width: 450px" src="~/images/milkrateslogan.png" alt="milkrate logo" />
        <div style="margin-top: 2rem;">
            <a style="background-color: #522aff; color: white; font-weight: bold;" class="btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="btn btn-light" asp-area="Identity" asp-page="/Account/Register">Register</a>

        </div>

    </div>
}
else
{

    <script src="https://code.highcharts.com/highcharts.js"></script>

    <body>
        @{ decimal closetValue = 0;}
        @foreach (var item in Model)
        {
            closetValue = closetValue + item.Value;
        }


        <div class="jumbotron jumbotron-fluid shadow" style="background-image: url(images/purpleclothes.png); background-repeat:no-repeat; background-size:cover; background-position:bottom; height: 24rem; ">
            <div style="margin-top: 2rem;" class="text-center">
                <h4 style="color: white;">Your closet is currently worth</h4>
                <h4 style="font-weight:700;" class="text-success display-1"> $@String.Format("{0:n}", closetValue) </h4>
                <a class="btn btn-light shadow" style="color: #4800ff; font-weight: 600;" asp-area="" asp-controller="UserPieces" asp-action="Index">View Closet</a>
            </div>
        </div>
        <h4 style="font-weight:800; color: #4800ff; margin-bottom: 2rem;">Value Snapshot</h4>
        <div id="container" class="shadow" style="min-width: 310px; background-color: grey; height: 400px; margin: 0 auto"></div>

        <script>
    Highcharts.chart('container', {
        chart: {

            type: 'column'
        },
        title: {
            text: ' '
        },
        subtitle: {

        },
        xAxis: {

color: '#0066FF',
            categories:
    @Html.Raw(Json.Serialize(ViewData["FieldsList2"]))
            ,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Value ($)'
            }
        },
        tooltip: {

        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
color: '#32CD32',
            name: 'Your Pieces',
            data: @Html.Raw(Json.Serialize(ViewData["FieldsList"]))

        }
        ]
    });
        </script>

        @{List<Piece> recentpieces = ViewData["FieldsList3"] as List<Piece>;
        }

        <h4 style="font-weight:800; color: #4800ff; margin-top: 1.75rem; ">Recent Releases</h4>



        <div class="d-flex" style="flex-wrap: wrap;">
            @foreach(var piece in recentpieces){
                <a asp-controller="Pieces" asp-action="Details" asp-route-id="@piece.ID">
                <div class="card shadow text-center border-light d-flex align-items-center" style="width: 16rem; margin: .5rem;">
                    <div>
                        <div style="height:200px;" class="card-img-top">
                            <img  class="h-100 img-fluid" src="@Url.Content(piece.ImageLink)" alt="Card image cap" style="margin-top: 15px;">
                        </div>
                        <div class="card-body" style="background-color: whitesmoke; height: 150px; min-width: 16rem; max-width:16rem; margin-top: 30px; ">

                            <p class="card-title text-left text-truncate" style="color:black; max-width:14rem;  font-weight:600;">@Html.DisplayFor(modelItem => piece.Title)</p>
                            @if (piece.AveragePrice > 1)
                            {
                                <p class="text-success font-weight-bold">$@Html.DisplayFor(modelItem => piece.AveragePrice)</p>
                            }
                            else
                            {
                                <p class="text-success font-weight-bold">$@Html.DisplayFor(modelItem => piece.RetailPrice)</p>
                            }
                            <p class="text-muted font-italic font-weight-lighter" style="margin: 0;">Release Date: @Html.DisplayFor(modelItem => piece.ReleaseDate)</p>
                        </div>
                    </div>
                </div>
            </a>
            }

                    <a class="" style="color: #4800ff; align-self: flex-end;" asp-area="" asp-controller="Pieces" asp-action="Index">View More</a>

        </div>

    </body>
}