@model milkrate.Models.UserPiece

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>@Html.DisplayFor(model => model.Piece.Title)</h4>
    <hr />
    <div class="d-flex justify-content-center">
        <img style="max-height: 400px; max-width: 400px;" class="card-img-top" src="@Html.DisplayFor(model => model.Piece.ImageLink)" alt="@Html.DisplayNameFor(model => model.Piece.Title)">
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Piece.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Piece.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Piece.PieceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Piece.PieceType)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Piece.RetailPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Piece.RetailPrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Piece.AveragePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Piece.AveragePrice)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Piece.Premium)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Piece.Premium)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Piece.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Piece.ReleaseDate)
        </dd>
    </dl>
    <button type="button" class="btn btn-success" onclick="window.location.href = '@Html.DisplayFor(model => model.Piece.PageLink)';" target="_blank">Sell $</button>
    <a class="btn btn-primary" asp-controller="UserPieces" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
