@model milkrate.Models.Piece

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <img style="max-height: 400px; max-width: 400px;" class="card-img-top" src="@Html.DisplayFor(model => model.ImageLink)" alt="@Html.DisplayNameFor(model => model.Title)">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PieceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PieceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AveragePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AveragePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
    <button type="button" class="btn btn-success" onclick="window.location.href = '@Html.DisplayFor(model => model.PageLink)';" target="_blank">Sell $</button>

    <a class="btn btn-primary" asp-controller="UserPieces" asp-action="Create" asp-route-id="@Model.ID">Add To Closet</a>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
